<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Outfit app</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <div class="container-fluid">
     <h2> Hat: <%= @outfit.finalize[:hat][:name] %> </h2> <br>
     <img src= "<%= @outfit.finalize[:hat][:img] %>" width="250" height="250"><br> <br><br>
     
     <h2> Shirt: <%= @outfit.finalize[:shirt][:name] %> </h2><br>
     <img src="<%= @outfit.finalize[:shirt][:img] %>" width="250" height="250"<br> <br><br>
     
     <h2> Pants: <%= @outfit.finalize[:pants][:name] %> </h2><br>
     <img src="<%= @outfit.finalize[:pants][:img] %>" width="250" height="250"<br> <br><br>
     
     <h2> Shoes: <%= @outfit.finalize[:shoes][:name] %> </h2><br>
     <img src="<%= @outfit.finalize[:shoes][:img] %>" width="250" height="250"<br> <br><br>
     
     <br><br>
     <a href="index.erb"><h3>Back to Homepage</h3></a>
   </div>
   
   
   <br><br>
 </body>
</html>